<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>雨中南大【微缩景观】</string>
	<key>posts</key>
	<array>
		<dict>
			<key>authorid</key>
			<string>test</string>
			<key>authornick</key>
			<string>test</string>
			<key>date</key>
			<date>2012-11-22T14:31:09Z</date>
			<key>content</key>
			<string>&lt;p style=&quot;font-size:15px;&quot;&gt;
	刚刚从宿舍楼里往下拍的…
	&lt;img src=&quot;[,-D].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[,cool].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-(].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[--|].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-K].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-U].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[,K].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[,hx].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-)].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-@].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-L].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-X].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[,PT].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[,xx].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[--(].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-C-].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-O].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[,P].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-!].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[--8].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-D].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-P].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-hx].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[,X].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-$].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[--b].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-E].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-Q].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-s].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[,bye].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-&apos;(].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[--v].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-H].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-T].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;
	&lt;img src=&quot;[-|].gif&quot;  style=&quot;vertical-align:middle;&quot; width=&quot;29&quot; height=&quot;29&quot;&gt;&lt;/p&gt;
&lt;p&gt;
	&lt;img src=&quot;http://bbs.nju.edu.cn/file/Photography/Ritta1353569334.jpg&quot;&gt;&lt;/p&gt;
&lt;p&gt;
	&lt;img src=&quot;http://bbs.nju.edu.cn/file/Photography/Ritta1353569330.jpg&quot;&gt;&lt;/p&gt;
&lt;p&gt;
	&lt;img src=&quot;http://bbs.nju.edu.cn/file/Photography/Ritta1353569325.jpg&quot;&gt;&lt;/p&gt;
&lt;p&gt;
	&lt;img src=&quot;http://bbs.nju.edu.cn/file/Photography/Ritta1353569319.jpg&quot;&gt;&lt;/p&gt;
&lt;p&gt;
	&lt;img src=&quot;http://bbs.nju.edu.cn/file/Photography/Ritta1353569314.jpg&quot;&gt;&lt;/p&gt;
&lt;p&gt;
	&lt;img src=&quot;http://bbs.nju.edu.cn/file/Photography/Ritta1353569309.jpg&quot;&gt;&lt;/p&gt;
&lt;p&gt;
	&lt;img src=&quot;http://bbs.nju.edu.cn/file/Photography/Ritta1353569302.jpg&quot;&gt;&lt;/p&gt;</string>
			<key>ip</key>
			<string>172.17.187.197</string>
		</dict>
		<dict>
			<key>authorid</key>
			<string>test</string>
			<key>authornick</key>
			<string>test</string>
			<key>date</key>
			<date>2012-11-22T14:31:09Z</date>
			<key>content</key>
			<string>&lt;p style=&quot;font-size:15px;&quot;&gt;有没有不虚的弄张上来。。。&lt;/p&gt;</string>
			<key>ip</key>
			<string>172.17.187.197</string>
		</dict>
		<dict>
			<key>authorid</key>
			<string>test</string>
			<key>authornick</key>
			<string>test</string>
			<key>date</key>
			<date>2012-11-22T14:31:09Z</date>
			<key>content</key>
			<string>&lt;p style=&quot;font-size:15px;&quot;&gt;这角度...&lt;/p&gt;</string>
			<key>ip</key>
			<string>172.17.187.197</string>
		</dict>
		<dict>
			<key>authorid</key>
			<string>test</string>
			<key>authornick</key>
			<string>test</string>
			<key>date</key>
			<date>2012-11-22T14:31:09Z</date>
			<key>content</key>
			<string>&lt;p style=&quot;font-size:15px;&quot;&gt;我觉得蛮有趣，除了第2张没什么意思，第4张太乱&lt;/p&gt;
&lt;p style=&quot;font-size:15px;&quot;&gt;楼主是用的移轴镜头还是内置微缩效果或后期滤镜？&lt;/p&gt;</string>
			<key>ip</key>
			<string>172.17.187.197</string>
		</dict>
		<dict>
			<key>authorid</key>
			<string>test</string>
			<key>authornick</key>
			<string>test</string>
			<key>date</key>
			<date>2012-11-22T14:31:09Z</date>
			<key>content</key>
			<string>&lt;p style=&quot;font-size:15px;&quot;&gt;感觉虚实不是很自然哇&lt;/p&gt;</string>
			<key>ip</key>
			<string>172.17.187.197</string>
		</dict>
		<dict>
			<key>authorid</key>
			<string>test</string>
			<key>authornick</key>
			<string>test</string>
			<key>date</key>
			<date>2012-11-22T14:31:09Z</date>
			<key>content</key>
			<string>&lt;p style=&quot;font-size:15px;&quot;&gt;移轴？&lt;/p&gt;</string>
			<key>ip</key>
			<string>172.17.187.197</string>
		</dict>
		<dict>
			<key>authorid</key>
			<string>test</string>
			<key>authornick</key>
			<string>test</string>
			<key>date</key>
			<date>2012-11-22T14:31:09Z</date>
			<key>content</key>
			<string>&lt;p style=&quot;font-size:15px;&quot;&gt;赞，超漂亮~~~~~~~~&lt;/p&gt;</string>
			<key>ip</key>
			<string>172.17.187.197</string>
		</dict>
		<dict>
			<key>authorid</key>
			<string>test</string>
			<key>authornick</key>
			<string>test</string>
			<key>date</key>
			<date>2012-11-22T14:31:09Z</date>
			<key>content</key>
			<string>&lt;p style=&quot;font-size:15px;&quot;&gt;楼主住陶3？&lt;/p&gt;</string>
			<key>ip</key>
			<string>172.17.187.197</string>
		</dict>
	</array>
</dict>
</plist>
